@import 'palette';

html[data-theme="dark"] #app-container::before {
  opacity: 0.05;
}

.dark-theme,
html[data-theme="dark"] {
  --ct-primary-color: $gb-dm-light-yellow; 
  --ct-secondary-color: $gb-dm-dark-yellow; 
  --ct-warning-color: $gb-dm-light-red;  
  --ct-success-color: $gb-dm-light-green;  
  --ct-highlight-color: $gb-dm-light-blue; 

  --color-level-1: $gb-dm-bg0;
  --color-level-2: $gb-dm-bg1;
  --color-level-3: $gb-dm-bg2;
  --color-level-4: $gb-dm-bg3;
  --color-level-5: $gb-dm-bg4;
  --color-level-6: $gb-dm-dark-gray;

  --ls-primary-background-color: $gb-dm-bg0-hard;
  --ls-secondary-background-color: var(--color-level-1);
  --ls-tertiary-background-color: var(--color-level-2);
  --ls-quaternary-background-color: var(--color-level-3);

  --ls-border-color: var(--ls-tertiary-background-color);

  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

  --ls-primary-text-color: $gb-dm-fg1;
  --ls-secondary-text-color: $gb-dm-fg2;

  --ct-bold-color: $gb-dm-fg0;

  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);

  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);

  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
  --ct-block-arrow-color: $gb-dm-light-gray;

  --ct-page-reference-color: var(--ls-active-primary-color);

  --ls-icon-color: var(--ls-primary-text-color);

  --ct-block-reference-background: rgba($gb-dm-dark-orange, 0.2);
  --ct-block-reference-background-hover: rgba($gb-dm-dark-orange, 0.3);

  --ls-page-properties-background-color: var(--ls-tertiary-background-color);

  --ls-scrollbar-foreground-color: var(--ls-secondary-background-color);

  --ct-header-bg-color: $gb-dm-bg0-hard;

  --ls-selection-color: $gb-dm-light-yellow;  
  --ls-block-highlight-color: $gb-dm-bg2;  
}

.dark-theme .image-resize {
  filter: brightness(0.8) saturate(85%);
}
